<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Users</h1>
  <% team_member = User.new(company_id: current_user.company_id) %>
  <%= link_to "New Team Member", 
      new_user_path(company_id: current_user.company_id), {class: "btn btn-primary" } if policy(team_member).new? %>
</div>

<table id="users" class="table table-bordered table-striped dataTable jqDataTable">
  <thead>
    <tr>
      <th>
        First name
      </th>

      <th>
        Last name
      </th>

      <th>
        Roles
      </th>

      <th>
        Company
      </th>

      <th>
        Verified
      </th>

    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <%= render user %>
    <% end %>
  </tbody>
  
</table>